<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome FRONT !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_logout') }}">LogOut</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Login</a></li>
                        <li><a href="">Register</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin') }}">Admin</a></li>
                    {% endif %}

                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
